@use '../../../variables' as v;

.cart {
    margin: 7rem auto 0 auto;
    width: 100%;
    max-width: 747px;
    
    &__title {
        
        margin: 3rem 0 1rem 0;
        font-size: 2rem;
    }

    &__list {
        width: 100%;
        padding: 1rem;
        border: 1px solid v.$grey;
        border-radius: 10px;
    }

    &__separator {
        width : 100%;
        height: 1px;
        background-color: v.$grey;
        margin: 2rem 0;
        &:last-child {
            display: none;
        }
    }
}

@media screen and (min-width : 1340px) {

    .cart {
        max-width: 85%;
        
        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__list {
            width: 60%;
        }
    }

    .app-cart-summary {
        width: 35%;
    }
}
