@use '../../../variables' as v;

.header {
    position: absolute;
    z-index: 5;
    width: calc(100% - 2rem);
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__button-menu {
        padding: 0;
        box-shadow: none;
        background-color: rgba($color: #000000, $alpha: 0);
        border-radius: 0;
        
        .material-icons {
            font-size: 3rem;
        }
    }
    
    &__title {
        margin-left: 2.5rem;
        font-size: 2.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    &__nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        top : 55px;
        right: 50%;
        transform: translate(50%, 0%);
        background-color: v.$white;
        padding: 1rem;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }

    &__link {
        font-size: 2rem;
        padding: 0.5rem 2rem;
        margin-top: 1rem;
        cursor: pointer;
        border-radius: 5px;
        color: v.$darkgrey;
        
        &:last-child {
            margin-bottom: 1rem;
        }
    }
    
    &__cart {
        border-radius: 5px;
        color: v.$darkgrey;
        padding: 0.5rem 2rem;
    }

    &__link:hover,
    &__cart:hover {
        color: v.$black;
        box-shadow: inset 0px 2px 8px rgba(0,0,0,0.05);
    }

    nav.open {
        display: flex;
    }

    .active {
        color: v.$black;
        border: 1px solid v.$darkgrey;
    }
}

@media screen and (min-width : 768px) {
    .header {

        &__button-menu {
            display: none;
        }

        &__nav {
            display: flex;
            flex-direction: row;
            background: none;
            position: relative;
            transform: none;
            width: auto;
            top: 0;
            left: 0;
            display: block;
            box-shadow: none;
        }

        &__link {
            margin-right: 2rem;

            &:last-child {
                margin: 0;
            }
        }

        &__title {
            margin-left: 0;
            font-size: 3rem;
        }

        &__cart {
            font-size: 2rem;
        }
    } 
}

@media screen and (max-width : 360px) {
    .header {
        flex-direction: column;

        &__title {
            font-size: 2rem;
            margin-left: 0;
            white-space: normal;
            word-break: break-word;
        }
    }
}