<header class="header">

    <!-- Menu burger -->
    <button class="header__button-menu" (click)="toggleMenuBurger()">
        <span class="material-icons">menu</span>
    </button>
    
    <!-- Logo -->
    <a routerLink="" class="header__title">GreenShop</a>
    
    <!-- Menu -->
    <nav [class.open]="isMenuOpen" class="header__nav">   
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__link">Accueil</a>
        <a routerLink="produits" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__link">Produits</a>
        <a routerLink="contact" routerLinkActive="active" class="header__link">Contact</a>
    </nav>
    
    <!-- Panier -->
    <a routerLink="panier" class="header__cart" >Panier (0)</a>
    
</header>