<section class="product-filter">

    <div class="product-filter__container" role="group" aria-label="Filtrer par catégorie">

        @for (category of categories; track category) {
            <button
                [ngClass]="{active: category === currentCategory}" 
                class="product-filter__button"
                type="button"
                (click)="changeFilter(category)">
                    {{category | titlecase}}
            </button>
        }

    </div>
</section>


<section class="all-products">
 
    <div class="all-products__list">

        @for (product of products; track product.id) {
            <app-product-component [product]="product" class="all-products__card"/>
        }

    </div>
</section>