<div class="cart__summary summary">
    <h3 class="summary__title">Votre commande :</h3>
    <div class="summary__container">
        <p class="summary__key">Sous-total</p>
        <p class="summary__value">Valeur</p>
    </div>
    <div class="summary__container">
        <p class="summary__key">Réduction</p>
        <p class="summary__value">Valeur</p>
    </div>
    <div class="summary__separator"></div>
    <div class="summary__container">
        <p class="summary__key summary__key--total">Total</p>
        <p class="summary__value summary__value--total">Valeur</p>
    </div>
    <button class="summary__button">Accéder au paiement <span class="material-icons">start</span></button>
</div>
