//primary color
$green : #3f7767;
$darkgreen : #265a4b;

//background color
$beige : #F5F1E3;

//secondary color -> card, font on green
$white : #FFFFFF;

//accentuation, secondary buttons
$brown : #8B5E3C;

//font
$black : #000000;

