$green : #3f7767;
$darkgreen : #265a4b;
$red : #ce1e1e;
$darkred : #a31818;
$beige : #F5F1E3;
$darkbeige : #dfdbcc;
$white : #FFFFFF;
$brown : #8B5E3C;
$black : #000000;
$grey : #d3d3d3;
$darkgrey : #3f3f3f;